* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
    margin: 0;
}


.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(50,136,237, 0.6);
    top: 0;
    
}

.contact-form {
    position: relative;
    display: block;
    margin: 50px auto;
    width: 600px;
    height: 600px;
    
    font-weight: 400;
    background-color: white; 
    border: none;
    border-radius: 35px;
    text-align: center;
    padding: 40px;
    
    
}
.contact-form-title {
    font-size: 30px;
}

#form {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    color: #555555;
    font-size: 30px;
}
.close {
    position: absolute;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 400;
    border: none;
    background: none;
}

input {
    width: 300px;
    height: 70px;
    font-size: 30px;
    padding: 20px;
    border-radius: 35px;
    border: 1px solid #555555;
    margin-bottom: 50px;
    
}
.submit {
    width: 300px;
    color: #ffffff;
    height: 70px;
    font-size: 30px;
    font-weight: 400;
    background: linear-gradient(to right, #56ccf2, #2f80ed); 
    border: none;
    border-radius: 35px;
    box-shadow:  -20px 20px 45px #66585a, 
             20px -20px 45px #ffffff;
}

.button {
    display: block;
    
    margin: 300px auto;
    width: 300px;
    height: 70px;
    font-size: 30px;
    font-weight: 400;
    background: linear-gradient(to right, #56ccf2, #2f80ed); 
    border: none;
    border-radius: 35px;
    box-shadow:  -20px 20px 45px #66585a, 
             20px -20px 45px #ffffff;
}

.show {
    display: block;
}
.status {
    margin-top: 30px;
    font-size: 20px;
}

.red {
    color: red;
}